@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import 'colors';
@import 'menu';
@import 'placements';

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    margin: 0;
}

.container {
    overflow: auto;
    background: $secondary;
    width: 90%;
    margin: 50px auto;
}

.info {
    margin-bottom: 10px;
}

.button {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: none;
    float: right;
    width: 40px;
    background: $primary;
    color: $secondary;
}