@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import 'colors';
@import 'menu';
@import 'placements';
@import 'prebid';
@import 'customGranularities';
@import 'bidders';
@import './../../node_modules/highlight.js/styles/vs2015';

html, body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-width: 300px;
    min-height: 400px;
    margin: 0;
}

.container {
    overflow: auto;
    background: $secondary;
    width: 90%;
    margin: 50px auto 0 auto;
}

.info {
    margin-bottom: 10px;
}

.button {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: none;
    float: right;
    width: 40px;
    background: $primary;
    color: $secondary;
}

textarea {
    resize: none;
    height: 400px;
    width: 97%;
    border: 1px solid $primary;
}