@import 'colors';

.prebid {

    .margin {
        margin-top: 10px;
    }

    .block {
        display: flex;
        width: 100%;

        .label {
            padding: 3px 0;
        }

        .left {
            margin-left: 3px;
        }

        .right {
            margin-right: 3px;
        }

        input {
            width: 50px;
            text-align: right;
        }

        .long {
            width: 100%;
        }
    }

    .granularities {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        .granularity {
            width: 33%;
            display: flex;
            .label {
                padding: 2px;
            }
        }
    }
}