.tab {
    width: 100%;
    display: flex;
    div {
        cursor: pointer;
        padding: 5px;
        width: 48%;
        text-align: center;
        border: 1px solid $primary;
    }
    .active {
        color: $secondary;
        background: $primary;
    }

    &.white {
        div {
            font-size: 14px;
            border: 0;
            color: $secondary;
            background: $forth;
        }
        .active {
            color: $primary;
            background: $secondary;
        }
    }
}