@import './styles/fonts';
@import './styles/colors';
@import './styles/auctions';
@import './styles/placements';
@import './styles/settings';
@import './styles/customGranularities';
@import './styles/bidders';
@import './styles/tab';
@import './../node_modules/highlight.js/styles/vs2015';

html, body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-width: 300px;
    margin: 0;
}

h3 {
    margin: 10px 0 5px 0;
}

body {
    display: none;
}

.container {
    overflow: auto;
    background: $secondary;
    width: 90%;
    margin: 10px auto;
}

.info {
    margin-bottom: 10px;
}

.button {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: none;
    float: right;
    width: 40px;
    background: $primary;
    color: $secondary;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

textarea {
    resize: none;
    height: 400px;
    width: 97%;
    border: 1px solid $primary;
}